.text-white {
  color: #ffffff;
}

.text-gray-1 {
  color: #f3f3f3;
}

.text-gray-2 {
  color: #e8e8e8;
}

.text-gray-3 {
  color: #cccccc;
}

.text-black {
  background-color: #2b2b2b;
}

.bg-white {
  background-color: #ffffff;
}

.bg-gray-1 {
  background-color: #f3f3f3;
}

.bg-gray-2 {
  background-color: #e8e8e8;
}

.bg-gray-3 {
  background-color: #cccccc;
}

.bg-black {
  background-color: #2b2b2b;
}
