html h1,
body h1 {
  font-size: 20px;
  line-height: 22px;
}

html h2,
body h2 {
  font-size: 17x;
  line-height: 22px;
}

html h3,
body h3 {
  font-size: 15px;
  line-height: 22px;
}

html h4,
body h4 {
  font-size: 14px;
  line-height: 16px;
}

html h5,
body h5 {
  font-size: 12px;
  line-height: 16px;
}

html ul,
body ul {
  list-style: none;
}

html a,
body a {
  text-decoration: none;
}
