.desPage {
  max-width: 1440px;
  background: white;
  margin: auto;
  position: relative;
}

.desPage header {
  margin-bottom: 30px;
}

.desPage header .topNav-wrap {
  padding: 25px 0;
}

.desPage header .mAccount {
  position: relative;
}

.desPage header .mAccount .overlay-account {
  position: absolute;
  top: 120%;
  left: -240px;
}

.desPage header .wList {
  position: relative;
}

.desPage header .wList .overlay-wish_list {
  position: absolute;
  top: 120%;
  left: -170px;
}

.desPage header .sBag {
  position: relative;
}

.desPage header .sBag .overlay-shopping_bag {
  position: absolute;
  top: 120%;
  left: -160px;
}

.desPage footer .socials img {
  margin-right: 30px;
}
