.productInformation {
  width: 448px;
  background: white;
}

.productInformation h3 {
  text-transform: uppercase;
  font-weight: 400;
}

.productInformation h3 span {
  float: right;
}

.productInformation .productInformation__head {
  border-bottom: solid color(gray-2) 1px;
}

.productInformation .productInformation__head p {
  margin: 8px 0 8px 0;
}

.productInformation > div {
  padding: 14px 0;
  border-bottom: solid color(gray-2) 1px;
}

.productInformation > div > div {
  display: none;
  margin-top: 14px;
  font-size: 15px;
}

.productInformation > div .productShow {
  display: block;
}

.productInformation .productInformation__detail li {
  font-weight: 600;
  margin-bottom: 14px;
}

.productInformation .productInformation__detail li span {
  font-weight: 400;
}

.productInformation .productInformation__adding .adding__button {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.productInformation .productInformation__adding .adding__button div {
  border: solid color(gray-3) 1px;
  display: flex;
}

.productInformation .productInformation__adding .adding__button div img {
  padding: 13px;
  background-color: color(gray-2);
}

.productInformation .productInformation__adding .adding__button div a {
  padding: 15px;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.productInformation .productInformation__adding .adding__button .addToBag > a {
  background-color: black;
  color: color(gray-3);
}

.productInformation .productInformation__adding .adding__button .addToBag > a:hover {
  background-color: color(gray-3);
  color: black;
}

.productInformation .productInformation__adding .adding__button .addWistList > a {
  background-color: color(gray-3);
  color: black;
}

.productInformation .productInformation__adding .adding__button .addWistList > a:hover {
  background-color: black;
  color: white;
}

.productInformation .productInformation__adding > a {
  color: black;
  display: block;
  text-align: center;
  text-decoration: underline;
}

.productInformation .productInformation__socials figure {
  text-align: center;
}

.productInformation .productInformation__socials figure img {
  margin: 0 10px;
}

.productInformation .productInformation__more {
  display: flex;
  padding: 0;
}

.productInformation .productInformation__more div {
  padding: 20px 20px;
  margin: 0;
  font-size: 15;
}

.productInformation .productInformation__more div p {
  text-align: center;
  font-weight: 600;
}

.productInformation .productInformation__more div a {
  text-align: center;
  color: black;
  font-weight: 600;
}

.productInformation .productInformation__more .product-viewmore {
  border-right: solid color(gray-2) 1px;
  border-left: solid color(gray-2) 1px;
}

.productImages {
  width: 452px;
  margin-right: 40px;
}

.productImages .imageShow {
  width: 452px;
  height: 472px;
}

.productImages .imageList {
  margin-top: 20px;
  width: 452px;
}

.productImages > a {
  text-align: center;
  margin: 15px auto;
  display: block;
  text-transform: uppercase;
  text-decoration: underline;
  color: black;
}

.product-wrap {
  display: flex;
  justify-content: center;
  background: white;
}
