.search {
  width: 210px;
  height: 34px;
  border: solid color(gray-2) 1px;
  background: white;
}

.search form {
  max-width: 100%;
  max-height: 100%;
  display: flex;
}

.search form span {
  margin: 6px 10px;
}

.search form input {
  border: none;
  outline: none;
  font-size: 12px;
}

.topNav-wrap {
  background: white;
  width: 960px;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  align-items: center;
}

.topNav-wrap h1 {
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 5px;
}

.topNav-wrap > div {
  justify-self: end;
  display: flex;
}

.topNav-wrap > div .search {
  margin-right: 30px;
  width: 210px;
  height: 34px;
  border: solid color(gray-2) 1px;
  background: white;
}

.topNav-wrap > div .search form {
  max-width: 100%;
  max-height: 100%;
  display: flex;
}

.topNav-wrap > div .search form span {
  margin: 6px 10px;
}

.topNav-wrap > div .search form input {
  border: none;
  outline: none;
  font-size: 12px;
}

.topNav-wrap > div .topSide {
  display: flex;
  align-items: center;
}

.topNav-wrap > div .topSide .wList {
  margin: 0 30px;
}
